<div class="span8 offset2 hero-unit">
  <h1>Trinkets</h1>
  <p>The simplest way to keep track of your stuff.</p>
  <p>
    <%= link_to "Sign Up Now", new_user_registration_path, :class => "btn btn-primary btn-large" %>
  </p>
</div>